<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>




  <connectionStrings>
    <add name="Exercise_ERContainer" connectionString="metadata=res://*/Exercise_ER.csdl|res://*/Exercise_ER.ssdl|res://*/Exercise_ER.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SPU1536-0003\SQL2012;initial catalog=db_exercise;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  
  
</configuration>